body {
    line-height: 28px;
    text-align: justify;
    font-family: 'Open Sans';
    background-color: #DDDDDD;
    font-size: 16px;
    margin-left: -10px;
    width:100.67%;
    min-width:1300px

}

p + p {
    margin: 10px 0 0
}

h1{
    text-align:center
}

h2 {
    color: #B1173C;
}
a {
    color: #B1173C;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    cursor: pointer
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    font-style:italic
}

.cangiua {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tentrang {
    text-align: center;
    color: #B1173C;
    font-size: 30px;
    margin: 90px 0px 40px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.nutbutton {
    background-color: #B1173C;
    color: #FFF3D2;
    border: none;
    padding: 15px 60px;
    border-radius: 5px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#KhungHinhMayBay {
    display: table;
    width: 100%;
    height: auto;
    min-height: 600px;
    float: left;
    position: relative;
    background-image: url(images/airplane.jpg);
    background-position: center center;
    background-size: cover
}
/* 
    #FFF3D2 255 243 210    màu vàng nhạt
    #B1173C 177 23  60     màu đỏ sậm
*/
.btn-top {
    background-image: url(images/backtotop.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 80px;
    height: 80px;
    z-index: 9999;
}
                                                                     /*Bắt đầu header*/
#header {
    width: 100%;
    margin-top: -10px;
    padding: -30px;
    padding-right: 0px;
}

.divheader {
    width: 16%;
    height: 42px;
    float: left;
    background: #B1173C;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-right: 0px;
    text-align: center;
}
                                                                     /*Kết thúc header*/
                                                                     /*Bắt đầu footer*/
footer {
    clear: both;
    display: block;
    text-align: center
}

    footer .infoframe {
        display: block;
        background-color: #B1173C;
        text-align: center;
    }

    footer .links {
        max-width: 1025px;
        margin: 30px auto 15px;
    }

        footer .links:after, footer .links:before {
            content: " ";
            display: table
        }

        footer .links:after {
            clear: both
        }

        footer .links .col {
            width: 31%;
            height: 100%;
            float: left;
            padding-bottom: 15px;
            padding-left: 15px;
            background-size: inherit;
            background-position: center 7px;
            background-repeat: no-repeat;
        }

        footer .links .title {
            font-weight: 700;
            font-size: 16px;
            color: #ffeab0;
            line-height: 10px;
        }

        footer .links ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

            footer .links ul li {
                font-size: 14px;
            }

                footer .links ul li + li {
                    margin: 0px;
                }

.tx-link {
    color: #ffeab0;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    cursor: pointer
}

    .tx-link:hover {
        text-decoration: none;
        border-bottom: 1px solid;
    }
                                                                                             /*Phần thông tin doanh nghiệp*/
#thongtin {
    border-top: 3px solid #c5ab05;
    background-color: #DDDDDD;
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}

    #thongtin .wrap {
        margin: 0 auto;
        position: relative;
        font-size: 14px;
        line-height: 14px;
    }

.com-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

                                                                       /*Kết thúc footer*/
                                                                       /*TRANG GIỚI THIỆU*/
                                                                                              /*Lịch sử và phát triển*/

.section {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1px 0;
    display: block
}

    .section.grid, .section.grid * {
        box-sizing: border-box
    }

        .section.grid .left {
            float: left;
            width: 30%;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 45px;
        }

        .section.grid .right {
            float: right;
            width: 60%;
            margin-right: 30px
        }

        .section.grid .heading {
            text-align: center;
            font-size: 60px;
            font-weight: 300;
            line-height: 1em;
            color: #000
        }

        .section.grid p {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: .025em;
            line-height: 1.5em;
            color: #000;
            margin: 0
        }

#LichSu {
    padding: 56px 0 65px;
    background-color: white;
}

    #LichSu p + p {
        margin: 60px 0 0
    }

    #LichSu ol li {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .025em;
        line-height: 1.5em;
        color: #000;
        margin: 0
    }
                                                                                               /*Chiến lược, tầm nhìn, sứ mệnh, giá trị cốt lõi*/
.section {
    padding: 30px 0px 60px 0px;
    background: #fff;
    display: block;
}

.section-header {
    text-align: center;
    padding: 0px 0px 71px 0px;
    line-height: 21px !important;
}

    .section-header h3 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    }

    .section-header p {
        text-align: center;
        padding: 0px 100px;
    }

.section-sub {
    text-align: center;
    margin: 0px auto;
    font-size: 16px;
    color: #666;
    line-height: 29px;
}

.col-md-4 {
    width: 31%;
    height: 100%;
    float: left;
    padding-bottom: 15px;
    padding-left: 15px;
}

.common-item p {
    text-align: center;
    color: #666;
    font-size: 16px;
    line-height: 29px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%
}

.item-img {
    width: 100%;
    height: 60px;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

                                                                      /*TRANG QUY ĐỊNH ĐIỀU KHOẢN */
#dieukhoan {
    margin: 0 20%;
}
        #dieukhoan h1 + p {
            margin: 30px;
        }

    #dieukhoan li + li {
        margin: 10px;
    }


                                                                      /*TRANG HƯỚNG DẪN BAY*/

#HuongDanBay a {
    color: black;
}

    #HuongDanBay a:hover {
        color: inherit;
        font-style: unset;
    }

#HuongDanBay img {
    align-content: center;
    width: 70%
}

#HuongDanBay .sticky {
    margin-top: 10px;
    margin-left: 5%;
    width: 20%;
    font-weight: bold
}
                                                                      /*TRANG HƯỚNG DẪN ĐẶT VÉ*/
#HuongDanDatVe {
    margin: 0 20%;
    font-weight:400
}

#HuongDanDatVe img{
    width:100%;
    border:2px solid white;
}

   
    #HuongDanDatVe div {
        font-size: 16px;
    }

    #HuongDanDatVe dl {
        line-height: 30px;
        font-weight: 400;
    }

        #HuongDanDatVe dl dd {
            font-size: 21px;
            font-weight: bold;
        }
        #HuongDanDatVe dl dd {
            font-weight: 400;
            font-size: 16px;
        }

    #HuongDanDatVe b {
        color: #B1173C;
    }
                                                                      /*TRANG HOMEPAGE*/
.form {
    line-height: 16px
}

    .form .label {
        display: block;
        color: #555555;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
    }

.input {
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    /*word-wrap: dài thì xuống dòng*/
    outline: none;
    font-size: 14px;
    color: #555555;
}

.tim_chuyen_bay {
    background: #f8f8f8;
    max-width: 500px;
    margin: 0px auto;
    height: auto;
    padding: 5px 25px 25px;
    border-radius: 5px;
    position: relative;
    float: left;
    margin: 30px 30px 30px 60px;
    border: 2px;
    box-sizing: border-box
}

    .tim_chuyen_bay h2 {
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: #0d3c64;
    }

.loai-ve {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center
}

    .loai-ve .chon {
        display: inline-block
    }

.chon + .chon {
    margin-left: 30px;
}

.loai-ve .label {
    display: inline;
    color: #555555;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.san-bay {
    display: flex;
    flex-direction: column;
}

.ngay-di-den {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: row;
}

.tim {
    width: 100%;
    padding: 13px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    /*word-wrap: dài thì xuống dòng*/
    outline: none;
    font-size: 14px;
    color: white;
    background-color: gray;
}
/*Gợi ý nhập*/

                                                                       /*TRANG DANH SÁCH CHUYẾN BAY*/
#CacBangDanhSach {
    display: flex;
    float: right;
    width: 50%;
    flex-direction: column;
    height: auto;
}

.divbangds {
    margin: 30px 60px 0px 60px;
    background-color: white;
    border: blue 2px;
    padding: 0;
}

    .divbangds table tr {
        border-bottom: 1px solid #EEEEEE;
    }

    .divbangds input {
        background-color: #B1173C;
        color: #FFF3D2;
        border: none;
        padding: 5px;
        border-radius: 5px;
    }

        .divbangds input:active {
            background-color: yellow;
            color: black
        }

#divdatve {
    float: right;
    margin: 30px 0px 30px 0px;
    border: blue 2px;
}
                                                                       /*TRANG THÔNG TIN ĐẶT VÉ*/
#ThongTinDatVe table {
    width: 100%;
    background-color: #ffffff;
}

    #ThongTinDatVe table thead {
        background: -webkit-linear-gradient(left, #B1173C 10%, rgba(222,222,222,0) 70%, rgba(222,222,222,0) 20%);
        color: white
    }

    #ThongTinDatVe table tr {
        border-bottom: 3px solid #EEEEEE;
    }

#ThongTinDatVe form {
    margin: 30px 200px 30px 200px;
}
                                                                      /*TRANG THANH TOÁN*/
.formThanhToan {
    margin-left: 100px;
    margin-right: 100px;
}

    .formThanhToan thead {
        background-color: #808080;
        color: white
    }
                                                                      /*TRANG XÁC NHẬN ĐẶT VÉ*/
#thongtinchuyenbay {
    display: block;
    float: left;
    border: 1px solid white;
    background-color: white;
    width: 620px;
    margin: 40px 10px 20px 80px;
    padding-bottom: 15px;
    line-height: 32px;
}

.chuyenbay {
    padding: 12px;
    text-align: center
}
    .chuyenbay div{
        float:left
    }

#thongtinthanhtoan {
    display: block;
    float: right;
    border: 1px solid white;
    background-color: white;
    width: 35%;
    margin: 40px 80px 80px 5px;
    line-height: 35px;
}

.tieudeXNDV {
    font: 20px;
    font-weight: bold;
    background-color: #808080;
    color: white;
    padding: 10px 17px;
}

#tonggia {
    display: block;
    background-color: #B1173C;
    padding: 10px;
    color: white;
    float: left;
    width: 100%;
    box-sizing: border-box
}

.color {
    color: #B1173C;
    font-weight: bold;
}                                                                   

                                                                      
